# Selecting the best model with best Hyperparameter

In [1]:
# import libraries
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

#train test split the data
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder

#import regrssion algorithms
from sklearn.linear_model import LinearRegression
from sklearn.svm import SVR
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.neighbors import KNeighborsRegressor
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score

# import grid search cv for cross validation
from sklearn.model_selection import GridSearchCV

# import preprocessor
from sklearn.preprocessing import StandardScaler, MinMaxScaler
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline

In [4]:
# load the dataset
df = sns.load_dataset('tips')
df.columns

Index(['total_bill', 'tip', 'sex', 'smoker', 'day', 'time', 'size'], dtype='object')

In [5]:
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [6]:
# select features and variables
x = df.drop("tip", axis=1)
y = df['tip']

In [8]:
# label encode categorical variables
le = LabelEncoder()
for col in x.columns:
    if x[col].dtype == "object" or x[col].dtype == "category":
        x[col] = le.fit_transform(x[col])

# Also used this method
# le = labelEncoder()
# x['sex'] = le.fit_transform(x['sex'])
# x['smoker'] = le.fit_transform(x['smoker'])
# x['day'] = le.fit_transform(x['day'])
# x['time'] = le.fit_transform(x['time'])

In [9]:
# train test split the data
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)

In [12]:
# create a dictionary of list of models to evaluate the performance
models = {
    'LinearRegression': LinearRegression(),
    'SVR': SVR(),
    'DecisionTreeRegressor': DecisionTreeRegressor(),
    'RandomForestRegressor': RandomForestRegressor(),
    'KNeighborsRegressor': KNeighborsRegressor(),
    'GradientBoostingRegressor': GradientBoostingRegressor()
}

#train and predict each mode with evaluation metrics as well makin a fro loop

model_scores = []
for name, model in models.items():
    # fit each model from models on training data
    model.fit(x_train, y_train)

    # make prediction for each model
    y_pred = model.predict(x_test)
    metric = mean_absolute_error(y_test, y_pred)
    model_scores.append((name, metric))

    # Selecting the best model from all above models with evaluation metics sorted
    sorted_models = sorted(model_scores, key=lambda x: x[1], reverse=False)
    for model in sorted_models:
        print("mean_absolute_error", f"{model[0]} is {model[1]: .2f}")

mean_absolute_error LinearRegression is  0.67
mean_absolute_error SVR is  0.57
mean_absolute_error LinearRegression is  0.67
mean_absolute_error SVR is  0.57
mean_absolute_error LinearRegression is  0.67
mean_absolute_error DecisionTreeRegressor is  1.00
mean_absolute_error SVR is  0.57
mean_absolute_error LinearRegression is  0.67
mean_absolute_error RandomForestRegressor is  0.81
mean_absolute_error DecisionTreeRegressor is  1.00
mean_absolute_error SVR is  0.57
mean_absolute_error LinearRegression is  0.67
mean_absolute_error KNeighborsRegressor is  0.73
mean_absolute_error RandomForestRegressor is  0.81
mean_absolute_error DecisionTreeRegressor is  1.00
mean_absolute_error SVR is  0.57
mean_absolute_error LinearRegression is  0.67
mean_absolute_error KNeighborsRegressor is  0.73
mean_absolute_error GradientBoostingRegressor is  0.73
mean_absolute_error RandomForestRegressor is  0.81
mean_absolute_error DecisionTreeRegressor is  1.00

In [14]:
# create a dictionary of list of models to evaluate the performance
models = {
    'LinearRegression': LinearRegression(),
    'SVR': SVR(),
    'DecisionTreeRegressor': DecisionTreeRegressor(),
    'RandomForestRegressor': RandomForestRegressor(),
    'KNeighborsRegressor': KNeighborsRegressor(),
    'GradientBoostingRegressor': GradientBoostingRegressor()
}

# train and predict each mode with evaluation metrics as well makin a fro loop

model_scores = []
for name, model in models.items():
    # fit each model from models on training data
    model.fit(x_train, y_train)

    # make prediction for each model
    y_pred = model.predict(x_test)
    metric = mean_absolute_error(y_test, y_pred)
    model_scores.append((name, metric))

    # Selecting the best model from all above models with evaluation metics sorted
    # sorted_models = sorted(model_scores, key=lambda x: x[1], reverse=False)
    # for model in sorted_models:
    print("mean_absolute_error", model, metric)

mean_absolute_error LinearRegression() 0.6703807496461157
mean_absolute_error SVR() 0.5707097371316318
mean_absolute_error DecisionTreeRegressor() 0.8767346938775512
mean_absolute_error RandomForestRegressor() 0.7805306122448983
mean_absolute_error KNeighborsRegressor() 0.7262448979591837
mean_absolute_error GradientBoostingRegressor() 0.731835111070683

# Assignmnet Load the Diamond dataset from Seaborn

In [2]:
import seaborn as sns
df = sns.load_dataset("diamonds").sample(1000, random_state=42)
df.head()

       carat        cut color clarity  depth  table  price     x     y     z
1388    0.24      Ideal     G    VVS1   62.1   56.0    559  3.97  4.00  2.47
50052   0.58  Very Good     F    VVS2   60.0   57.0   2201  5.44  5.42  3.26
41645   0.40      Ideal     E    VVS2   62.1   55.0   1238  4.76  4.74  2.95
42377   0.43    Premium     E    VVS2   60.8   57.0   1304  4.92  4.89  2.98
17244   1.55      Ideal     E     SI2   62.3   55.0   6901  7.44  7.37  4.61

In [3]:
df = df.sample(1000, random_state=42)
df.head()

       carat        cut color clarity  depth  table  price     x     y     z
1388    0.24      Ideal     G    VVS1   62.1   56.0    559  3.97  4.00  2.47
50052   0.58  Very Good     F    VVS2   60.0   57.0   2201  5.44  5.42  3.26
41645   0.40      Ideal     E    VVS2   62.1   55.0   1238  4.76  4.74  2.95
42377   0.43    Premium     E    VVS2   60.8   57.0   1304  4.92  4.89  2.98
17244   1.55      Ideal     E     SI2   62.3   55.0   6901  7.44  7.37  4.61

In [4]:
df.describe()

,carat,depth,table,price,x,y,z
count,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000
mean,0.842100,61.570000,57.351000,4305.200000,5.803400,5.804800,3.573100
std,0.558811,1.487422,2.399011,4687.957644,1.243609,1.230514,0.766252
min,0.230000,55.300000,53.000000,373.000000,3.930000,3.960000,2.430000
25%,0.407500,60.875000,56.000000,1072.250000,4.767500,4.757500,2.957500
50%,0.610000,61.800000,57.000000,2203.500000,5.560000,5.575000,3.350000
75%,1.062500,62.600000,59.000000,4944.500000,6.635000,6.590000,4.052500
max,2.520000,64.700000,66.000000,18443.000000,8.570000,8.520000,5.440000

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 100 entries, 1388 to 45842
Data columns (total 10 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   carat    100 non-null    float64
 1   cut      100 non-null    category
 2   color    100 non-null    category
 3   clarity  100 non-null    category
 4   depth    100 non-null    float64
 5   table    100 non-null    float64
 6   price    100 non-null    int64
 7   x        100 non-null    float64
 8   y        100 non-null    float64
 9   z        100 non-null    float64
dtypes: category(3), float64(6), int64(1)
memory usage: 7.5 KB

In [7]:
df.isnull().sum()

carat      0
cut        0
color      0
clarity    0
depth      0
table      0
price      0
x          0
y          0
z          0
dtype: int64